{% extends 'layoutLogged.html' %}

{% block body %}
  <h1>Who We Are</h1>
  <br>
  <p>Larry Liu is a sophomore Computer Science student at the NYU Courant Institute of Mathematical Sciences. When he’s not spending hours screaming at inanimate code, he enjoys listening to Hamilton and singing in the shower. He recently took a trip to the hospital because his pancreas decided to quit its job. For those of you wondering, he is “fine".</p>
  <br>
  <p>Nikhil Vaidyamath is a sophomore Computer Science student at the NYU Tandon School of Engineering. Besides pulling all-nighters on Computer Science homework, he enjoys embracing his Californian adventurousness in the city that never sleeps. He is known for his peppy attitude and semi-tall figure. When in doubt, “for sure, my dude” is the way to go.</p>
  <br>
  <p>Naiya Patel is a sophomore at NYU Tandon studying Chemical and Biomolecular Engineering. She is known for having such a strong work ethic that she literally does not sleep more than 4 hours a night. You can often find her on the floors of the Bobst or Dibner library, taking a 5 minute power nap on the floor. When not working, she's usually laughing about the tragicness of her friends. Did something embarrassing? You can always count on her to giggle things off. </p>
  <br>
  <p>Dominique Herreros is a sophomore at NYU Tandon studying Business and Technology Management. Usually overloaded with work and commitments, you never know where to find her. When she has the energy, you can find her on the dance floor or on Twitter. She deeply misses Vines so you can often find her watching a Vine compliation right before bed.</p>
{% endblock %}
